.sidebar {
    -fx-background-color: #25384E;
}

.main-page {
    -fx-pref-width: 640;
    -fx-pref-height: 600;
    -fx-background-color: #F0F3FA;
    -fx-background-radius: 40 0 0 0;
}


/* === PRIMARY BUTTON === */
.btn-primary {
    -fx-pref-width: 219;
    -fx-pref-height: 40;
    -fx-background-color: #638ECB;
    -fx-background-radius: 5px;
    -fx-text-fill: #F0F3FA;
    -fx-font-weight: bold;
}

.btn-primary:hover {
    -fx-background-color: #4e7ab2;
}

.btn-primary:pressed {
    -fx-background-color: #3a6498;
}


/* === SECONDARY BUTTON === */
.btn-secondary {
    -fx-pref-width: 180;
    -fx-pref-height: 40;
    -fx-background-color: #849FC4;
    -fx-background-radius: 5px;
    -fx-text-fill: #F0F3FA;
    -fx-font-weight: bold;
}

.btn-secondary:hover {
    -fx-background-color: #6f8ab0;
}

.btn-secondary:pressed {
    -fx-background-color: #5a759b;
}


/* === EXIT BUTTON === */
.btn-exit {
    -fx-pref-height: 40;
    -fx-pref-width: 120;
    -fx-background-color: transparent;
    -fx-text-fill: #F0F3FA;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-border-color: #638ECB;
    -fx-border-radius: 5px;
}

.btn-exit:hover {
    -fx-background-color: #3a4d64;
}

.btn-exit:pressed {
    -fx-background-color: #2a3b4e;
}